{% load customfilter %} {% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="d-flex w-100">
        <div class="col-5 border">
            <b>Code d'horaire</b>
        </div>
        <div class="col-7 border px-2">{{ booking.schedule.code }}</div>
    </div>
    <div class="d-flex w-100">
        <div class="col-5 border">
            <b>Numero du car </b>
        </div>
        <div class="col-7 border px-2">{{ booking.schedule.bus }}</div>
    </div>
    <div class="d-flex w-100">
        <div class="col-5 border">
            <b>Horaire de voyage</b>
        </div>
        <div class="col-7 border px-2">{{ booking.schedule.schedule|date:"M d, Y h:i A" }}</div>
    </div>
    <div class="d-flex w-100">
        <div class="col-5 border">
            <b>Code de référence de réservation</b>
        </div>
        <div class="col-7 border px-2">{{ booking.code }}</div>
    </div>
    <div class="d-flex w-100">
        <div class="col-5 border">
            <b>Réservé pa</b>
        </div>
        <div class="col-7 border px-2">{{ booking.name }}</div>
    </div>
    <div class="d-flex w-100">
        <div class="col-5 border">
            <b>Sièges</b>
        </div>
        <div class="col-7 border px-2">{{ booking.seats }}</div>
    </div>
    <div class="d-flex w-100">
        <div class="col-5 border">
            <b>Coût total</b>
        </div>
        <div class="col-7 border px-2">{{ booking.total_payable|intcomma }}</div>
    </div>
    <div class="clear-fix py-3"></div>
    <div class="text-end">
        {% if booking.status == '1' %}
        <button class="btn btn-success border-succes bg-gradient rounded-0 btn-sm" type="button" id="paid">Marquer comme payé</button> {% endif %}
        <button class="btn btn-default border bg-gradient rounded-0 btn-sm" type="button" data-bs-dismiss="modal">Fermer</button>
    </div>
</div>
<script>
    $(function() {
        $('#paid').click(function() {
            _conf("Are you sure mark this booking as paid?", 'paid')
        })
    })

    function paid() {
        start_loader();
        var _this = $(this)
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        $.ajax({
            url: '{% url "pay-booked" %}',
            headers: {
                'X-CSRFToken': "{{csrf_token}}"
            },
            method: 'POST',
            data: {
                id: '{{ booking.pk }}',
                status: 2
            },
            dataType: 'json',
            error: err => {
                console.log(err)
                el.text('Une erreur est survenue.')
                el.show('Lent')
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.text('Une erreur est survenue')
                    el.show('lent')
                } else {
                    el.text('Une erreur est survenue')
                    el.show('lent')
                }
                end_loader()
            }
        })
    }
</script>